$product-outer-padding: 7px;

.product {
    @include span-columns(3);

    height: 250px;
    background-size: cover;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid transparent;

    &:hover {
        border-color: rgba(0, 0, 0, 0.7);
    }

    &:nth-of-type(4n+4) {
        @include omega;
    }
}

.product--out-of-stock {
    opacity: 0.5;
}

.product__title {
    color: $color-dark;
    padding: 10px 40px 10px $product-outer-padding;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;

    .product:hover & {
        color: $color-white;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.product__basket {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__price {
    padding: $product-outer-padding;
}

.product__unit-price {
    color: $color-muted;
    font-size: 0.75rem;
}

.toggle-favourite {
    background-color: transparent;
    color: $color-dark;
    font-size: 20px;
    position: absolute;
    right: $product-outer-padding;
    top: $product-outer-padding;

    transition: linear transform 0.05s;

    &:hover {
        color: $color-red;
        transform: scale(1.1);
    }

    &.favourite {
        color: $color-red;
        transform: scale(1.1);

        &:hover {
            color: $color-dark;
            transform: scale(1);
        }
    }
}

.product-list {
    @include outer-container;
}

.product-list__filter {
    padding: 20px 0;

    .product-filter {
        display: inline-block;
        @include center-horizontal;
    }
}

.add-to-basket {
    padding: $product-outer-padding;
    font-size: 30px;

    &::selection {
        background: transparent;
    }
}