.product {
    float: left;
    width: 300px;
    height: 200px;
}

.toggle-favourite {
    background-color: lightgrey;

    &:hover {
        background-color: green;
    }
    
    &.favourite {
        background-color: green;

        &:hover {
            background-color: lightgrey;
        }
    }
}