.product {
    @include span-columns(3);

    height: 150px;
    background-color: lightgrey;
    background-size: cover;
    margin-bottom: 15px;

    &:nth-of-type(4n+4) {
        @include omega;
    }
}

.product--out-of-stock {
    opacity: 0.5;
}

.product__title {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px;
    color: white;
}

.toggle-favourite {
    background-color: lightgrey;

    &:hover {
        background-color: green;
    }

    &.favourite {
        background-color: green;

        &:hover {
            background-color: lightgrey;
        }
    }
}

.product-list {
    @include outer-container;
}

.product-list__filter {
    padding: 20px 0;

    .product-filter {
        display: inline-block;
        @include center-horizontal;
    }
}