@using ReactPoc.Models
@using Newtonsoft.Json

@model HomeViewModel

<div id="entry"></div>

@section scripts {
    <script>
        window.menuItems = @Html.Raw(JsonConvert.SerializeObject(Model.Routes));
    </script>
    <script src="~/dist/app.js"></script>
}