@using ReactPoc.Models
@using Newtonsoft.Json

@model HomeViewModel

<div id="entry" asp-prerender-module="ClientApp/dist/server-render"
                asp-prerender-data="new {menuItems = @Model.Routes}"></div>

@section scripts {
    <script src="~/dist/app.js"></script>
}